.thead-dark th {
    background-color: #FBD0B8; /* Dark background */
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    align-items: center;
}

.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered td {
    border: 1px solid #dee2e6;
}
.header {
    background-color: #FF955A;
    padding: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}
.header h1 {
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: black    ;
    color: white;
    margin: 0;
    padding: 0;
}
table{
    background-color: white;
}
.delete-container{
    width: 70px;
    font-size: 13px;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FF1212;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
}
.edit{
    width: 70px;
    height: 35px;
    background-color: #44A5FF;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin-left: 10px;
}
.new-theater{
    border-radius: 10px;
    width: 10%;
    height: 51px;
    background-color: #44A5FF;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 51px;
}
.button-container{
    justify-content: center;
    flex-direction: row;
    display: flex;
}
.edit:hover{
    opacity: 0.65;
}
.delete-container:hover {
    opacity: 0.65;
}
.new-theater:hover {
    opacity: 0.65;
}