body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
a {
    color: white; /* Set the color for all links */
    text-decoration: none; /* Remove underline */
}
a:hover{
    text-decoration: none;
}

.header h1 {
    margin: 0;
}

.container {
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
}

h5 ,p{
    color: black;
}
h5{
    font-weight: bolder;
}
p{
  font-weight: lighter;
}
.navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    opacity: 0.65;

}
.slide {
    margin-top: 20px;
    /* Add styles for the slider */
}

/* Adjust container width */
#carouselExampleIndicators {
    width: 100%; /* Adjust the maximum width as needed */
    margin: auto;
}

.nav-container{
    width: 7%;
    height: 100%;
}
.nav-container :hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
.navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav{
    justify-content: space-around;
    font-size: 18px;
    background-color: black;
}
.carousel-item {
    height: 400px; /* Adjust this value as needed */
}
.carousel-item img {
    
    height: 100%;
    width: 100%;
}
.card-img-top {
    height: 200px; /* Set a fixed height for images in cards */
    object-fit: cover; /* Ensures the image covers the container */
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: black;
    
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}
.navbar, .carousel, .container-fluid {
    width: 100%;
    margin: 0 auto; /* Center align the container */
    padding: 0;
    
}
.navbar{
    padding: 1rem 1.5rem;
    background-color: black;
}

.text-center{
    margin-top: 5%;
}
.card{
    width: 18rem;
    margin-left: 10%; 
    border-color: black;
}
.card-body h5, .card-body p {
    color: white; /* Set text color to white */
}
.red-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px; /* Space between the circle and the text */
}
footer{
    background-color: black;
}