<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="header">
    <h1>Dashboard</h1>
    <div>
        <h2>Welcome, [[${user.getFullname()}]]</h2>
        <span sec:authorize="isAuthenticated" >
        <a th:href="@{/logout}" class="logoutText">
            Logout
        </a>
        </span>
    </div>
</div>

<div class="outer-container">
    <!-- Image with a link -->
    <div class="container">
        <a th:href="@{/theaters}">
            <img src="https://media.wired.com/photos/5e97905fa8fb770008c8478d/16:9/w_2400,h_1350,c_limit/Cul-movietheater-1191021389.jpg"
                 width="100%"
                 height="90%"
                 alt="">
            <h2>Theaters</h2>

        </a>
    </div>

    <div class="container">
        <a th:href="@{/movies}">
            <img src="https://hips.hearstapps.com/hmg-prod/images/best-fall-movies-1659459329.jpg?crop=0.937xw:1.00xh;0.0327xw,0&resize=1200:*"
                width="100%"
                height="90%"
                 alt="">
            <h2>Movies</h2>
        </a>
    </div>

    <div class="container">
        <a th:href="@{/showTimes}">
            <img src="https://i.ytimg.com/vi/tAXew1iKCnw/maxresdefault.jpg"
                width="100%"
                height="90%"
                 alt="">
            <h2>ShowTime</h2>
        </a>
    </div>

    <div class="container">
        <a th:href="@{/auditorium}">
            <img src="https://cdn.britannica.com/79/125879-004-F0F41077/Auditorium-Battlefield-High-School-Haymarket-Va.jpg" 
                alt=""
                width="100%"
                height="90%">
            <h2>Auditorium</h2>
        </a>
    </div>
    
    <div class="container">
        <a th:href="@{/seats}">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXI4ai16_QsdfWfIjYaxOnYfL7nvObjlO2WQ&s" 
                alt=""
                width="100%"
                height="90%">
            <h2>Seats</h2>
        </a>
    </div>

</div>
</body>
</html>
