<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/film-category.css">
</head>
<body>
    <div class="header">
        <h1 class="text-white">HOME</h1>
        <h1 class="text-white" style="font-weight: bolder;">Welcome, [[${user.getFullname()}]]</h1>
        <span sec:authorize="isAuthenticated" class="nav-container">
            <a th:href="@{/logout} " class="navbar-link" >Logout</a>
            
        </span>
        <div class="nav-container">
            <a th:href="@{/user-page}" class="navbar-link">Home</a>
        </div>
        <div class="nav-container">
            <a th:href="@{/allTheaters}" class="navbar-link">Theaters</a>
        </div>
        <div class="nav-container" >
            <a th:href="@{/showAllCategory}" class="navbar-link">Movies</a>
        </div>
    </div>
    <div class="container">
        <h2>All Categories</h2>
        <ul class="category-list">
            <li th:each="category : ${categories}" class="category-item">
                <img class="category-image" th:src="@{/images/{category}.jpg(category=${category})}" alt="Category Image">
                <a th:href="@{/showAllCategory/{category}(category=${category})}" th:text="${category}"></a>
            </li>


        </ul>
    </div>

    <!-- Bootstrap JS and jQuery (required for Bootstrap's JS plugins) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
