<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> MOVIES</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/movies.css">
</head>
<header class="header">
    <h1>Movie List</h1>
    <h1>Admin </h1>
    <a th:href="@{/admin-page}">HomePage</a>
</header>
<body>
<h1 style="padding-left: 15%;">Dashboard</h1>
<div class="container-fluid text-center">

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Movie Name</th>
                <th>Genre</th>
                <th>Cast</th>
                <th>Duration</th>
                <th>Rate</th>
                <th>PosterUrl</th>
                <th>description</th>
                <th>base cost</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="movie : ${listMovies}">
                <tr>
                    <td>[[${movie.id}]]</td>
                    <td>[[${movie.movieName}]]</td>
                    <td>[[${movie.genre}]]</td>
                    <td>[[${movie.cast}]]</td>
                    <td>[[${movie.duration}]]</td>
                    <td>[[${movie.rate}]]</td>
                    <td><img th:src="${movie.posterUrl}" alt="movie Image" style="width:100px; height:auto;"/></td>
                    <td>[[${movie.description}]]</td>
                    <td>[[${'$' + movie.baseCost}]]</td>
                    <td style="flex-direction: row; display: flex; justify-content: space-between;">
                        <a class="h4 mr-3" th:href="@{'/movies/edit/' + ${movie.id}}">
                            <div class="edit">
                                Edit
                            </div>
                        </a>
                        <a class="h4" th:href="@{'/movies/delete/' + ${movie.id}}">
                            <div class="delete-container">
                                Delete
                            </div>
                        </a>
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>
        <a class="h3" th:href="@{/movies/new}">
            <div class="button-container">
                <div class="new-movie" >
                    New Movie

                </div>

            </div>
        </a>

    </div>
</div>
</body>
</html>
