<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Date</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/showtime.css">
    <script>
        window.onload = function() {
            var today = new Date().toISOString().split('T')[0];
            document.getElementById("dateInput").setAttribute('min', today);
        }
    </script>
</head>
<body>
    <nav class="navbar sticky-top navbar-dark bg-dark" >
        <h2 class="text-white">Home</h2>
        
        <span sec:authorize="isAuthenticated" class="nav-container">
            <a th:href="@{/logout} " class="navbar-link" >Logout</a>
        </span>
        <div class="nav-container">
            <a th:href="@{/allTheaters}" class="navbar-link">Theaters</a>
        </div>
        <div class="nav-container" >
            <a th:href="@{/showAllCategory}" class="navbar-link">Movies</a>
        </div>
        <h2 class="text-white" style="font-weight: bolder;">Welcome, [[${user.getFullname()}]]</h2>
    </nav>
    <div class="container">
        <h1>Select Date Time</h1>
        <form th:action="@{/movie-description/{movieId}/bookTheater/{theaterId}/userShowTime/{showtimeId}/date/seats (movieId=${movie.id},theaterId=${theater.id},showtimeId=${showtime.id})}" method="post">
            <div class="form-group">
                <label for="dateInput">Choose a Date:</label>
                <input type="date" id="dateInput" name="date" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Choose</button>
        </form>
    </div>        
</body>
</html>
