<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Theaters</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all-theater.css">
</head>
<body>

    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a th:href="@{/user-page}" class="navbar-link">Home</a>
            <a th:href="@{/allTheaters}" class="navbar-link text-white mx-2">Theaters</a>
            <a th:href="@{/showAllCategory}" class="navbar-link text-white mx-2">Movies</a>
            <a th:href="@{/user-tickets}" class="navbar-link text-white mx-2">Tickets</a>
            <span sec:authorize="isAuthenticated" class="nav-container">
                <a th:href="@{/logout}" class="navbar-link text-white mx-2">Logout</a>
            </span>
                <div class="input-group ml-3" style="width: 300px;">
                    <input id="searchInput" type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="search()">Search</button>
                    </div>
                </div>   
        </div>
    </nav>
<div class="container">
    <h1>All Theaters</h1>
    <div th:each="theater : ${listTheaters}" class="theater-card">
        <div class="item">
            <a th:href="@{'/theaterDetail?id=' + ${theater.id}}">
                <img th:src="${theater.imageUrl}" alt="Theater Image" class="theater-image">
            </a>
            <div class="text-center">
               <ul>
                    <h2  th:text="${theater.theaterName}"></h2>
                    <p th:text="${theater.getAddress()}"></p>
                    <p>Number of auditoriums:  [[${theater.getAuditoriums().size()}]]</p>
               </ul>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and jQuery (required for Bootstrap's JS plugins) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function search() {
        var keyword = document.getElementById("searchInput").value.trim();
        if (keyword !== "") {
            window.location.href = "http://localhost:8082/search?keyword=" + encodeURIComponent(keyword);
        }
    }
</script>

</body>
</html>
